.desktop-header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.nav-header, .header-icons {
    display: flex;
    gap: 10px;
    padding: 15px;
    color: azure;
}

header { 
    background-color: brown;
    color: azure;
}

header a {
    color: white;

}

.main-index {
    justify-content: center;
    text-align: center;
}

.game-canvas {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cta_button {
    width: 90px;
    background-color: brown;
    color: white;
}

.cta_button:hover {
    background-color:azure;
    color: brown;
}

.game-canvas img {
    width: 300px;
    height: auto;
}

.display-content {
    display: flex;
    gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* product page */

.individual-canvas {
    padding-left: 25%;
    padding-top: 30px;
}

.sing-game-canvas {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
}

.sing-game-canvas img {
    width: 440px;
    height: auto;
}

.game-cart {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0 0 30px 30px;
}

.game-cart img {
    width: 350px;
    height: auto;
}

.checkout-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
}

.contact-input {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 20px;
    width: 250px;
}

.contact-info {
    background-color: lightgray;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    padding-left: 25px;
}

.confirmation {
    padding-top: 50px;
    justify-content: center;
}

.total {
    background-color: lightgray;
    border-radius: 10px;
    width: 250px;
    padding-left: 25px;
}

.image-total {
    width: 200px;
    height: auto;
}