.desktop-header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.nav-header, .header-icons {
    display: flex;
    gap: 10px;
    padding: 15px;
    color: azure;
}

header { 
    background-color: brown;
    color: azure;
}

header a {
    color: white;

}

.main-index {
    justify-content: center;
    text-align: center;
}

.game-canvas {
    display: flex;
    flex-direction: column;
}

.cta_button {
    width: auto;
    background-color: brown;
    color: white;
}

.game-canvas img {
    width: 300px;
    height: auto;
}

.display-content {
    display: flex;
    gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}